In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
import pickle as pkl
import os
import sys

os.chdir('..')
sys.path.append('.')

import evaluation

In [2]:
files = [str(f) for f in Path('/tmp').glob('*.pkl')]

In [3]:
files

['/tmp/inp_18__dir_uni__size_256__depth_3.pkl',
 '/tmp/inp_18__dir_bi__size_256__depth_3.pkl',
 '/tmp/inp_18__dir_uni__size_256__depth_4.pkl',
 '/tmp/inp_18__dir_uni__size_256__depth_2.pkl',
 '/tmp/inp_18__dir_bi__size_256__depth_2.pkl']

In [4]:
results = []

for f_path in files:
    with open(f_path, 'rb') as f:
        results.append(pkl.load(f))

In [11]:
dfs = [evaluation.create_results_df_multi_weights(r, columns=['input_len', 'direction', 'size', 'depth'])
       for r in results]

In [14]:
df = pd.concat(dfs)

In [17]:
df.sort_values('smape')

    input_len direction size depth num epoch  ensemble      smape     mase*
146        18        bi  256     2   6     9     False  13.189401  2.671092
146        18        bi  256     2   6     9     False  13.189401  2.671092
274        18       uni  256     3   3     8     False  13.208804  2.673714
274        18       uni  256     3   3     8     False  13.208804  2.673714
186        18        bi  256     2   1     9     False  13.218448  2.675721
..        ...       ...  ...   ...  ..   ...       ...        ...       ...
560        18       uni  256     4   1     6     False  17.022816  3.500237
220        18       uni  256     3   5     6     False  17.088121  3.389761
220        18       uni  256     3   5     6     False  17.088121  3.389761
350        18       uni  256     3   8     6     False  17.169296  3.430654
350        18       uni  256     3   8     6     False  17.169296  3.430654

[1870 rows x 9 columns]

In [19]:
res = pd.read_csv('reports/lstm_tuning_windows/results.csv')

In [22]:
pd.concat([df, res]).to_csv('/tmp/lstm_tuning_results.csv', index=False)